<header>
    <div class="title"><h1 >Ola mundo</h1></div>
    <div class="search"><h2 >Busca</h2></div>
    <div class="actions"><h2>Coisas</h2></div>
</header>
<nav>
    <li>
        <div class="laticineos"> <fa-icon [icon]="faLeite"></fa-icon><h3>Laticineos</h3></div>
        <div class="cereal"><fa-icon [icon]="faCereal"></fa-icon><h3>Cereal</h3></div>
        <div class="bebidas"><fa-icon [icon]="faDrink"></fa-icon><h3>Bebidas</h3></div>
        <div class="horta"><fa-icon [icon]="faHorta"></fa-icon><h3>Hortaliças</h3></div>
        <div class="fruta"><fa-icon [icon]="faFruta"></fa-icon><h3>Frutas</h3></div>
    </li>
</nav>
<article>
    <app-card-itens></app-card-itens>
</article>
<footer></footer>